
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 350px;
  margin-top: 150px;
  width: 500px;
  background-color: #fff;
  margin-left: 350px;
  padding: 10px;
  border-radius: 10px;
}
.formLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 85%;
  text-align: center;
  margin:0 auto;

}

.hide {
  display: none;
}

#container {
  height: 100px;
  margin-top: 10px
}

h1 {
  margin-top: 50px;
}
